.idea
logs
.mvn
target
work
*.iml
src/main/resources/static/app/.sass-cache/
src/main/resources/static/app/dist/
src/main/resources/static/app/node_modules
/out/
.classpath
.project
.settings
/.classpath
/.project
/.settings

src/main/resources/generatorConfig.xml