<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~ Copyright (c) 2016 Jim Liu
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jim.mapper.UserRoleMapper">
    <resultMap id="UserResultMap" type="com.jim.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="roleId" jdbcType="INTEGER" property="roleid"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="isActive" jdbcType="BIT" property="isactive"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <collection column="roleId" javaType="arraylist" property="roleid" ofType="com.jim.model.Role" resultMap="RoleResultMap"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="com.jim.model.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="isActive" jdbcType="TINYINT" property="isactive"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
    <insert id="addRole">
        INSERT INTO user_role (userId, roleId)
        VALUES (#{userId, jdbcType=BIGINT}, #{roleId, jdbcType=BIGINT});
    </insert>
    <delete id="deleteRole">
        DELETE FROM user_role
        WHERE 1=1
        AND userId=#{userId}
        AND roleId=#{roleId}
    </delete>

    <select id="getRoles" resultMap="UserResultMap">
        SELECT
        r.id AS id, r.name AS name
        FROM users AS  u
        LEFT JOIN user_role AS ur ON u.id = ur.userId
        LEFT JOIN roles AS r ON r.id = ur.roleId
        WHERE 1=1
          AND u.id = #{id,jdbcType=BIGINT}
          AND r.isActive = 1
          AND u.isActive = 1
    </select>
</mapper>