<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
<script type="text/javascript" th:src="@{/static/app/libs/cross-storage/dist/hub.js}"></script>
<script type="text/javascript" th:src="@{/static/app/libs/cross-storage/dist/client.js}"></script>
<script>
	CrossStorageHub.init([
		{origin: /http:\/\/localhost:8080$/, allow: ['get', 'set', 'del', 'getKeys', 'clear']},
		{origin: /http:\/\/localhost:8081$/, allow: ['get', 'set', 'del', 'getKeys', 'clear']}
	]);
</script>
</body>
</html>