<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Blog</title>
	<link type="text/css" rel="stylesheet" th:href="@{/static/app/libs/angular-bootstrap/ui-bootstrap-csp.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/static/app/css/}"/>
</head>
<body>
this is dashboard.

<script type="text/javascript" th:src="@{/static/app/libs/jquery/dist/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/app/libs/angular/angular.js}"></script>
<script type="text/javascript" th:src="@{/static/app/libs/angular-bootstrap/ui-bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/static/app/libs/jquery/dist/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/app/libs/jquery/dist/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/app/js/main.js}"></script>

</body>
</html>