<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>index</title>
	<script type="text/javascript" th:src="@{/static/app/libs/jquery/dist/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/static/app/libs/cross-storage/dist/hub.js}"></script>
	<script type="text/javascript" th:src="@{/static/app/libs/cross-storage/dist/client.js}"></script>
	<script type="text/javascript" th:src="@{/static/app/js/main.js}"></script>
</head>
<body>
this is dashboard.2

<button id="get-local-storage">get</button>
</body>
</html>